.user_page_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p {
  margin: 0;
}
h4 {
  margin: 4;
}

.user_description {
  width: 200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ecf2f8;
  margin-top: 50px;

  justify-content: space-between;
}

.user_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  margin: 20px;
}
